body {
  background-color:#1d9bf0;
}

.title {
  text-align: center;
  font: 30px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 50px 0px 50px 0px;
}

.tweetlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

.tweet {
  width:40%;
  margin-bottom: 25px;
  border: 2px;
  border-color: blue;
  border-radius: 2%;
  background-color: whitesmoke;
} 

.tweetbody {
  padding: 10px 15px;
}

.image {
  width: 100%;
  height: 100%;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
}

.user {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.image_avatar {
  vertical-align: middle;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 7px;
}

.fullname_username {
  align-self: center;
}

.fullname {
  font-weight: 500;
  margin: 0px;
}

.username {
  margin: 0px;
  color: darkgrey;
}

.tweetinteraction {
  display: flex;
  flex-direction: row;
}

.tweetinteraction img {
  height: 16px;
  width: 16px;
}

.numberlikes {
  margin: 0px 10px 0px 0px;
}

.numberviews {
  margin: 0px 5px 0px 0px;
}

.iconinteraction {
  margin-right: 3px;
  align-self: center;
}



